html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Roboto', sans-serif;
  color: $main-text-color;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}