$main-font: 'Roboto', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$main-text-color: #999999;
$secondary-text-color: #333333;
$main-color: #f38181;
$secondary-color: #fce38a;
$third-color: #ffffff;
$forth-color: #95e1d3;
